<!DOCTYPE html>
<html>
<head>
    <title>Cainthus Challenge</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #tweet-container {
            text-align:center;
        }
        #map {
            height: 85%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<div id="tweet-container"></div>
<div id="api_url_container">
    URI: <a id="api_link" style="text-align:center" href="#"></a>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>

    var center = {
        lat: {{center['lat']}},
        lng: {{center['lng']}}
    };

    var bounds = {
        north: {{area_bounds['north']}},
        south: {{area_bounds['south']}},
        east: {{area_bounds['east']}},
        west: {{area_bounds['west']}}
    };

    var map;
    var current_pos_rectangle;
    var timer;

    var socket = io.connect('{{base_url}}:{{ base_port }}/webTweetStream');

    // Method for handling first connection
    socket.on('connect', function() {
        socket.emit('get_tweets', bounds);
        setURI();
    });

    // Method to handle incoming tweets
    socket.on('tweet', function(msg) {
        var msg_obj = JSON.parse(msg.data);
        printTweet(msg_obj);
        positionTweet(msg_obj);
    });

    // Prints the received tweet in a new line with the user and the location.
    function printTweet(tweet) {
        document.getElementById('tweet-container').innerHTML = tweet.user.screen_name +' in '+
                                                               tweet.place.full_name +': \'' +
                                                               tweet.text +'\'';
    }

    // This method marks in the map during 20 seconds the position where there was a tweet.
    // For this feature the tweet must have geo location.
    function positionTweet(tweet) {
        if (tweet.geo !== null) {
            console.log(tweet);
            var lat = tweet.geo.coordinates[0];
            var lon = tweet.geo.coordinates[1];
            var tweet_text = tweet.text;
            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lon},
                map: map,
                title: tweet_text
            });

            // Remove the marker after 20 seconds
            setTimeout(function(){
                marker.setMap(null);
            }, 20000);
        }
    }

    // Provides a direct link to the tweet stream API (raw)
    function setURI() {
        var api_url = document.getElementById('api_link');
        var api_link = "/streamTweets?north="+bounds['north']+"&south="+bounds['south']+"&west="+bounds['west']+"&east="+bounds['east'];
        api_url.setAttribute('href', api_link);
        api_url.innerText = api_link;
    }

    // Handles the bounding rectangle changes, the delay prevents the socket being called continuously
    // and only the last change will be taken into account
    function rectBoundChanged(event) {

        clearTimeout(timer);
        timer  =  setTimeout(function(){
            var rect_pos = current_pos_rectangle.getBounds();
            var ne = rect_pos.getNorthEast();
            var sw = rect_pos.getSouthWest();
            bounds = { north: ne.lat(),
                south: sw.lat(),
                east: ne.lng(),
                west: sw.lng()
            };

            setURI();
            socket.emit('get_tweets', bounds);
            document.getElementById('tweet-container').innerHTML = "Loading tweets...";
        }, 1000);

    }

    function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: center,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        current_pos_rectangle = new google.maps.Rectangle({map: map,
            bounds: bounds,
            editable: true,
            draggable: true,
            strokeColor: '#1c22ff',
            strokeOpacity: 0.2,
            strokeWeight: 2});

        google.maps.event.addListener(current_pos_rectangle, 'bounds_changed', rectBoundChanged);

    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap">
</script>
</body>
</html>